*{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    font: {
        family: tahoma;
        size: 1rem;
    }
}

ul,
ol {
    list-style: none;
    padding-inline-start: 0;
    padding-inline-end: 0
}

a {
    text-decoration: none;
}

